@charset "UTF-8";

body {
    background-color: rgb(238, 250, 135);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
h1 {
    color: rgb(93, 25, 182);
    background-color: aquamarine;
}

h2 {
    color: rgb(226, 43, 144);
}

p {
    text-align: justify;
}