@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(#BFB78F, #A5A692);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #8686768e;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #F2A71B;
    text-align: center;
    text-shadow: 1px 1px 2px #b17a14b0;
}

h2 {
    color: #025E73;
}

p {
    text-align: justify;
}